# Compiled Object files
*.obj
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.suo

*.opensdf
*.sdf

bin/
obj/
doc/
*~
*.swp*

*.ipch

*.cbp
*.layout